body{
    font-family: 'Patua One',sans-serif;
    background: #F6F8F8;
}

.containerBody{
    background-size: cover;
    -webkit-background-size: cover;
    height: auto;
    margin-bottom: 15px;
    margin-top: -10px;
}


.mainBody{
    margin-left: 70px;
    margin-right: 70px;
    height: 100%;
    border: 1px solid #F1F1F1;
    background: #FFF;
}


.divRegistro {
    text-align: center;
    height: 100%;
    width: 620px;
    position: relative;
    padding-bottom: 30px;
    margin: 20px auto 0 auto;
}
.divForm{
    text-align: left;
    height: auto;
    width: auto;
}


.formMiPerfil{
    margin-left: 50px;
}
.formMiPerfil input[type="text"],input[type="password"]{
    width: 399px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #BDC7D8;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.25em;
    text-indent: 12px;
}

.formMiPerfil p {
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Oxygen', sans-serif;
}

.submit{
    margin-right: 60px;
    text-align: right;
}
.btnRegistrar {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.25em;
    margin: 20px auto auto auto;
    width: 240px;
    height: 50px;
    background: #2e7dcc;
    color: white;
    border: 0;
    border-radius: 5px;
}
.btnRegistrar:hover {
    background-color: #4a89de;
    cursor: pointer;
}
.btnDoRegistrar:focus {
    outline: 0px;
}

.datos label{
    font-family: 'Oxygen', sans-serif;
    width: auto;
    margin: 0;
    font-size: 1.30em;
}

.datos input[type="radio"]{
    height: 1.25em;
    width: 1.25em;
}

.reviews2 {
    border: 1px solid #BDC7D8;
    text-align: center;
    width: 99.8%;
    height: auto;
    clear: left;
}
.reviews2 ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    clear: left;
}
.reviews2 ul li {
    height: 150px;
    border-top: 1px solid #BDC7D8;
}

.reviews {
    clear: left;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.persona{
    width: 100%;
    height: auto;
    display: none;
}

.entidad{
    width: 100%;
    height: auto;
}

.btnCerrarCuenta {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.25em;
    margin: 20px auto auto auto;
    width: 240px;
    height: 50px;
    background: #2e7dcc;
    color: white;
    border: 0;
    float: left;
    border-radius: 5px;
    z-index: 12312312;
    position: relative;
    top:-70px;
}
.btnCerrarCuenta:hover {
    background-color: #4a89de;
    cursor: pointer;
}
.btnCerrarCuenta:focus {
    outline: 0px;
}

.btnRegistrarEntidad{
    font-family: 'Oxygen', sans-serif;
    font-size: 1.25em;
    margin: 20px auto auto auto;
    width: 240px;
    height: 50px;
    background: #2e7dcc;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-bottom: 20px;
}

.btnRegistrarPersona{
    font-family: 'Oxygen', sans-serif;
    font-size: 1.25em;
    margin: 20px auto auto auto;
    margin-bottom: 20px;
    width: 240px;
    height: 50px;
    background: #2e7dcc;
    color: white;
    border: 0;
    border-radius: 5px;
}

#rateReview{
    margin-top: 20px;
}

.btnBorrar {
    font-family: 'Oxygen', sans-serif;
    font-size: 1em;
    margin: 5px;
    width: 100px;
    height: 30px;
    background: #2e7dcc;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-left: 20px;
}
.btnBorrar:hover {
    background-color: #4a89de;
    cursor: pointer;
}
.btnBorrar:focus {
    outline: 0px;
}

.btnRegistrarEntidad:hover {
    background-color: #4a89de;
    cursor: pointer;
}
.btnRegistrarEntidad:focus {
    outline: 0px;
}

.btnRegistrarPersona:hover {
    background-color: #4a89de;
    cursor: pointer;
}
.btnRegistrarPersona:focus {
    outline: 0px;
}
