body{
    font-family: 'Patua One',sans-serif;
}
.navbar {
    background: #232323;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 80px;
    margin: 10px 100px;
}
.logo {
    width: 150px;
    height: 80px;
    border-top-left-radius: 10px;
    border-bottom-right-radius:  10px;
    margin-right: 0px;
    background: #286ea5;
    float: left;
    text-align: center;
}
.links {
    height: 80px;
    float: right;
}

.nav {
    margin: 0;
    height: 80px;
    float: right;
    display: inline-block;
}
.nav li {
    float: left;
    list-style-type: none;
    position: relative;
}
.nav li a {
    font-size: 1.25em;
    color: white;
    display: block;
    line-height: 80px;
    padding: 0 26px;
    text-decoration: none;
    border-right: 1px solid #2e2e2e;
    font-family: 'Oxygen', sans-serif;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.nav li a:hover {
    background-color: #2e2e2e;
}
.search {
    height: 80px;
    border-right: 1px solid #2e2e2e;
}
.formSearch input[type="text"] {
    margin: 14px;
    border-radius: 5px;
    width: 299px;
    padding: 15px 0 15px 20px;
    font-size: 1.25em;
    font-family: 'Oxygen', sans-serif;
    border: 0 none;
    height: 52px;
    margin-right: 0;
    color: #fff;
    outline: none;
    background: #286ea5;
    float: left;
    z-index: 1;
    box-sizing: border-box;
    transition: all 0.15s;
}
::-webkit-input-placeholder {
    color: white;
}
.btnBuscar {
    border: 0 none;
    background: #286ea5 url(../img/search.png) center no-repeat;
    width: 60px;
    float: left;
    padding: 0;
    text-align: center;
    height: 52px;
    cursor: pointer;
    margin:14px 14px 14px -7px;
    border-radius: 5px;
}

.editar{
    float: right;
}
.editar img{
    margin: 24px;
    border-left: 0 none;
}
.editar>img {
    background-image: url(../img/triangle.png);
    background-position: 85% center;
    background-repeat: no-repeat;
    padding-right: 42px;
}
.subEditar {
    visibility: hidden;
    position: absolute;
    top: 90%;
    right: 0;
    width: 200px;
    height: auto;
    opacity: 0;
    transition: all 0.1s;
    background: #232323;
    z-index: 2031;
}
.subEditar li {
    float: none;
}
.subEditar li a {
    border-bottom: 1px solid #2e2e2e;
}
.editar:hover .subEditar {
    visibility: visible;
    top: 84%;
    padding: 0;
    opacity: 1;
}
.perfil{
    padding-top: 8px;
}
